data/소상공인시장진흥공단_상가(상권)정보_충남_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_인천_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_전남_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_제주_202206.csv filter=lfs diff=lfs merge=lfs -text
data/[필독]파일열람방법.txt filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_강원_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_경기_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_경남_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_대구_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_경북_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_대전_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_서울_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_세종_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_광주_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_부산_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_울산_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_전북_202206.csv filter=lfs diff=lfs merge=lfs -text
data/소상공인시장진흥공단_상가(상권)정보_충북_202206.csv filter=lfs diff=lfs merge=lfs -text
